
ubuntu@sandbox:~ $ cd /home/ubuntu && zip -r /home/ubuntu/fantasyvault-backend.zip /home/ubuntu/fantasyvault-backend -x "*/venv/*"
[previous content truncated]...47c56d80d08c (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d6/2390bb8457d63da4eb3e02fff96bc1e499001b (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d6/dd18cd708d70c7ad98dcaf96b661099197797d (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d6/4c08c1694c185022dcb78cc4559b9a5776716f (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d6/7d76987673f242b7663b6bce314c697c604df3 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d6/b1d1c96caca216920221ef071ecfd39387c564 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d6/ffa9fabf88fb3310785a55c39a354ab6fb55bf (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/54/ (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/54/0e7a4dc79d02a820e291b57c43335d5aa25a41 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/54/61ccc84ed1d5dbbe5a729d13a8d839ef5ca426 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/54/74148c9cf9db0341ecdf83e6a7ee1ff115472b (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/54/8e8e614ed173c0d4c48c28bf90fed1e117810e (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/54/bacd9447158a8eb474db84411c6fab9ef16edc (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/54/7efbd47dcea9008c777d5951eef1d8e5908747 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/54/e9784e0c427132f74519cf3f9ec803246430ba (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/50/ (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/50/795f7702809abe5db894e8da650a4d58d4f9b0 (deflated 1%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/50/f3815761176cc8af5eccf964e2dccc78c3ad72 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/50/f20e5d712f2fbd595fd837f7b16103da4e9442 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/50/badea2a9482232462bfbdbf0a6f0204e1dcde6 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/50/5d2d1f2914df8e818b24bf3fa52addaa02a2a9 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/50/c081a2ba7b3c260465f9b612fde21fd13401f4 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/fd/ (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/fd/f3b2f61418f13e82a38dda7bea2f65dcd54ed4 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/fd/4828e8559614049d38ba01f1cbd973b12ac286 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/fd/64b1ffd43c1465119b4109900daf0a6120a95a (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/ (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/4a59f289551045aa4832d41a4fd3477f2e1670 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/1d697c887bed1f8ab7f36d10185e986d9f1e54 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/ae51f34799fa66103d56041aea85d1f172488f (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/8f0e6f7b5842cc857e8c63222c7a8e3984440a (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/a9a51b231817a6a486ea221a45857da80a072e (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/8722ea62d30b9f52127d99d2d28a9503e959e9 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/6c53ace97b07c88b2199521adde3c469a55f28 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/0dcdf584decd7c5a38f324e3d2073b559e0f34 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/d2/b0811b3a3bff23cd47be6378c429193152f334 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/ec/ (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/ec/7f81e22772511d668e5ab92f625db33259e803 (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/ec/80a8c6b51231d90255f3fd86616006f9f4b4ba (deflated 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/ec/5d5822f1c845e7dc8d300c8c0424261a932d3a (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/ec/e6eb6c5fcf91303edf1a253446570de45d4fdf (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/objects/ec/166408e2e0d542b63f62052cac778a67bda11e (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/HEAD (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/config (deflated 14%)
  adding: home/ubuntu/fantasyvault-backend/.git/index (deflated 71%)
  adding: home/ubuntu/fantasyvault-backend/.git/COMMIT_EDITMSG (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/logs/ (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/logs/HEAD (deflated 28%)
  adding: home/ubuntu/fantasyvault-backend/.git/logs/refs/ (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/logs/refs/heads/ (stored 0%)
  adding: home/ubuntu/fantasyvault-backend/.git/logs/refs/heads/master (deflated 28%)
ubuntu@sandbox:~ $


